@font-face {
    font-family: 'DB Ozone X';
    src: url('DBOzoneX.woff');
}
@font-face {
    font-family: 'DB Ozone X Bd';
    src: url('DB Ozone X Bd.ttf');
}
@font-face {
    font-family: 'DB Ozone X BdIt';
    src: url('DB Ozone X BdIt.ttf');
}
@font-face {
    font-family: 'DB Ozone X Italic';
    src: url('DB Ozone X Italic.ttf');
}
@font-face {
    font-family: 'DB Ozone X Li';
    src: url('DB Ozone X Li.ttf');
}
@font-face {
    font-family: 'DB Ozone X LiIt';
    src: url('DB Ozone X LiIt.ttf');
}
@font-face {
    font-family: 'DB Ozone X Med';
    src: url('DB Ozone X Med.ttf');
}
@font-face {
    font-family: 'DB Ozone X MedIt';
    src: url('DB Ozone X MedIt.ttf');
}
@font-face {
    font-family: 'DB Ozone X UltraLi';
    src: url('DB Ozone X UltraLi.ttf');
}
@font-face {
    font-family: 'DB Ozone X UltraLiIt';
    src: url('DB Ozone X UltraLiIt.ttf');
}